version: '3.8'

services:
  ollama-service:
    image: ollama/ollama:latest
    container_name: ollama_container
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always

volumes:
  ollama_storage: